# Conditional Parameter Grids

This example shows the usage of `PyExperimenter` with a conditional parameter grid. We will programmatically define the parameter combinations of a support vector machine, instead of generating the entire cartesian product from the parameters defined in the config file.  

To execute this notebook you need to install:
```
pip install py_experimenter
pip install scikit-learn
```

## Experiment Configuration File
This notebook shows an example execution of `PyExperimenter` based on an experiment configuration file. Further explanation about the usage of `PyExperimenter` can be found in the [documentation](https://tornede.github.io/py_experimenter/usage.html). Here, we only define keyfields and resultfields and do not set the parameter values in the experiment configuration file as we will create the parameter grid programmatically.

In [1]:
import os

content = """
[PY_EXPERIMENTER]
provider = sqlite 
database = py_experimenter
table = svm_experiment_example

keyfields = dataset, cross_validation_splits:int, seed:int, kernel, gamma:DECIMAL, degree:int, coef0:DECIMAL

resultfields = train_f1:DECIMAL, train_accuracy:DECIMAL, test_f1:DECIMAL, test_accuracy:DECIMAL
resultfields.timestamps = false

[CUSTOM] 
path = sample_data
"""
config_folder_path = 'config'
if not os.path.isdir(config_folder_path):
  os.mkdir(config_folder_path)
experiment_configuration_file_path = os.path.join(config_folder_path, 'example_conditional_grid.cfg')
with open(experiment_configuration_file_path, "w") as f: 
  f.write(content)

## Defining the execution function

Next, the execution of a single experiment has to be defined. Note that this is a dummy example, which contains limited reasonable code. It is meant to show the core functionality of the PyExperimenter. 

The method is called with the parameters, i.e. `keyfields`, of a database entry. The results are meant to be processed to be written into the database, i.e. as `resultfields`.

In [2]:
import os
import random

import numpy as np
from sklearn.datasets import load_iris
from sklearn.model_selection import cross_validate
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

from py_experimenter.experimenter import PyExperimenter
from py_experimenter.result_processor import ResultProcessor

from time import sleep
from random import randint

def run_svm(parameters: dict, result_processor: ResultProcessor, custom_config: dict):
    sleep(randint(0,5))
    seed = parameters['seed']
    random.seed(seed)
    np.random.seed(seed)

    data = load_iris()

    X = data.data
    y = data.target

    # Create Support Vector Machine with parameters dependent on the kernel
    kernel = parameters['kernel']
    if kernel == 'linear':
        svc = SVC(kernel=parameters['kernel'])
    elif kernel == 'poly':
        svc = SVC(kernel=parameters['kernel'], gamma=parameters['gamma'], coef0=parameters['coef0'], degree=parameters['degree'])
    elif kernel == 'rbf':
        svc = SVC(kernel=parameters['kernel'], gamma=parameters['gamma'])

    svc = SVC()

    model = make_pipeline(StandardScaler(), svc)  

    if parameters['dataset'] != 'iris':
        raise ValueError("Example error")

    scores = cross_validate(model, X, y, 
        cv=parameters['cross_validation_splits'],
        scoring=('accuracy', 'f1_micro'),
        return_train_score=True
    )
    
    result_processor.process_results({
        'train_f1': np.mean(scores['train_f1_micro']),
        'train_accuracy': np.mean(scores['train_accuracy'])
    })

    result_processor.process_results({
        'test_f1': np.mean(scores['test_f1_micro']),
        'test_accuracy': np.mean(scores['test_accuracy'])})

## Executing PyExperimenter

The actual execution of the PyExperimenter is done in multiple steps. 

### Initialize PyExperimenter
The PyExperimenter is initialized with the previously created configuration file. Additionally, `PyExperimenter` is given a `name`, i.e. job id, which is especially useful for parallel executions of multiple experiments on HPC.

In [3]:
from py_experimenter.experimenter import PyExperimenter

experimenter = PyExperimenter(experiment_configuration_file_path=experiment_configuration_file_path, name="SVM_experimenter_01")

### Fill Table

The table is filled programmatically using the  `fill_table_from_combination()` method. We first generate the fixed parameter combinations for each kernel of the SVM in the first three lines.
* For the `rbf` kernel, we need to set values for the `gamma` parameter. The degree and `coef0` parameter are not present in this kernel, so we set these to `'nan'`.
* For the `poly` kernel, we need to set the `gamma`, the degree as well as the `coef0` parameter.
* For the `linear` kernel, we do not need to set any parameters, so all of them are set to `'nan'`.

Afterwards, we combine these with the seed, the dataset and the cross_validation_splits parameters, which are present for all experiment runs. Thus, these are not set unconditionally.

 

Note that the table can easily be obtained as `pandas.Dataframe` via `experimenter.get_table()`.

In [4]:
# Create parameter configurations for each kernel
combinations = [{'kernel': 'rbf', 'gamma': gamma, 'degree':'nan', 'coef0':'nan'} for gamma in ['0.1','0.3']]
combinations += [{'kernel': 'poly', 'gamma': gamma, 'degree': degree, 'coef0': coef0} for gamma in ['0.1','0.3'] for degree in ['3','4'] for coef0 in ['0.0', '0.1']]
combinations += [{'kernel': 'linear','gamma': 'nan', 'degree':'nan', 'coef0':'nan'}]

# Fill experimenter
experimenter.fill_table_from_combination(parameters={'seed': ['1', '2', '3', '4', '5'], 
'dataset': ['iris'],
'cross_validation_splits': ['5'] },
fixed_parameter_combinations=combinations)

# showing database table
experimenter.get_table()

,ID,dataset,cross_validation_splits,seed,kernel,gamma,degree,coef0,creation_date,status,start_date,name,machine,train_f1,train_accuracy,test_f1,test_accuracy,end_date,error
0,1,iris,5,1,rbf,0.1,nan,nan,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
1,2,iris,5,1,rbf,0.3,nan,nan,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
2,3,iris,5,1,poly,0.1,3,0,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
3,4,iris,5,1,poly,0.1,3,0.1,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
4,5,iris,5,1,poly,0.1,4,0,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
5,6,iris,5,1,poly,0.1,4,0.1,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
6,7,iris,5,1,poly,0.3,3,0,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
7,8,iris,5,1,poly,0.3,3,0.1,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
8,9,iris,5,1,poly,0.3,4,0,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
9,10,iris,5,1,poly,0.3,4,0.1,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
10,11,iris,5,1,linear,nan,nan,nan,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
11,12,iris,5,2,rbf,0.1,nan,nan,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
12,13,iris,5,2,rbf,0.3,nan,nan,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
13,14,iris,5,2,poly,0.1,3,0,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
14,15,iris,5,2,poly,0.1,3,0.1,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
15,16,iris,5,2,poly,0.1,4,0,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
16,17,iris,5,2,poly,0.1,4,0.1,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
17,18,iris,5,2,poly,0.3,3,0,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
18,19,iris,5,2,poly,0.3,3,0.1,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
19,20,iris,5,2,poly,0.3,4,0,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
20,21,iris,5,2,poly,0.3,4,0.1,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
21,22,iris,5,2,linear,nan,nan,nan,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
22,23,iris,5,3,rbf,0.1,nan,nan,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
23,24,iris,5,3,rbf,0.3,nan,nan,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
24,25,iris,5,3,poly,0.1,3,0,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
25,26,iris,5,3,poly,0.1,3,0.1,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
26,27,iris,5,3,poly,0.1,4,0,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
27,28,iris,5,3,poly,0.1,4,0.1,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
28,29,iris,5,3,poly,0.3,3,0,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
29,30,iris,5,3,poly,0.3,3,0.1,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
30,31,iris,5,3,poly,0.3,4,0,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
31,32,iris,5,3,poly,0.3,4,0.1,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
32,33,iris,5,3,linear,nan,nan,nan,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
33,34,iris,5,4,rbf,0.1,nan,nan,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
34,35,iris,5,4,rbf,0.3,nan,nan,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
35,36,iris,5,4,poly,0.1,3,0,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
36,37,iris,5,4,poly,0.1,3,0.1,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
37,38,iris,5,4,poly,0.1,4,0,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
38,39,iris,5,4,poly,0.1,4,0.1,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
39,40,iris,5,4,poly,0.3,3,0,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
40,41,iris,5,4,poly,0.3,3,0.1,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
41,42,iris,5,4,poly,0.3,4,0,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
42,43,iris,5,4,poly,0.3,4,0.1,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
43,44,iris,5,4,linear,nan,nan,nan,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
44,45,iris,5,5,rbf,0.1,nan,nan,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
45,46,iris,5,5,rbf,0.3,nan,nan,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
46,47,iris,5,5,poly,0.1,3,0,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
47,48,iris,5,5,poly,0.1,3,0.1,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
48,49,iris,5,5,poly,0.1,4,0,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
49,50,iris,5,5,poly,0.1,4,0.1,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
50,51,iris,5,5,poly,0.3,3,0,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
51,52,iris,5,5,poly,0.3,3,0.1,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
52,53,iris,5,5,poly,0.3,4,0,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
53,54,iris,5,5,poly,0.3,4,0.1,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None
54,55,iris,5,5,linear,nan,nan,nan,2023-03-29 19:19:05,created,None,None,None,None,None,None,None,None,None

### Execute PyExperimenter
All experiments are executed one after the other by the same `PyExperimenter` due to `max_experiments=-1`. If just a single one or a predifined number of experiments should be executed, the `-1` has to be replaced by the according amount. The `random_order` is especially important in case of parallel execution of multiple `PyExperimenter`, e.g. when doing it on a HPC, to avoid collusions of accessing the same row of the table. 

The first parameter, i.e. `run_svm`, relates to the actual method that should be executed with the given keyfields of the table.

In [5]:
experimenter.execute(run_svm, max_experiments=-1, random_order=True)

# showing database table
experimenter.get_table()

,ID,dataset,cross_validation_splits,seed,kernel,gamma,degree,coef0,creation_date,status,start_date,name,machine,train_f1,train_accuracy,test_f1,test_accuracy,end_date,error
0,1,iris,5,1,rbf,0.1,nan,nan,2023-03-29 19:19:05,done,2023-03-29 19:19:41,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:45,None
1,2,iris,5,1,rbf,0.3,nan,nan,2023-03-29 19:19:05,done,2023-03-29 19:19:18,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:19,None
2,3,iris,5,1,poly,0.1,3,0,2023-03-29 19:19:05,done,2023-03-29 19:20:25,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:26,None
3,4,iris,5,1,poly,0.1,3,0.1,2023-03-29 19:19:05,done,2023-03-29 19:20:01,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:02,None
4,5,iris,5,1,poly,0.1,4,0,2023-03-29 19:19:05,done,2023-03-29 19:20:04,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:04,None
5,6,iris,5,1,poly,0.1,4,0.1,2023-03-29 19:19:05,done,2023-03-29 19:19:17,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:18,None
6,7,iris,5,1,poly,0.3,3,0,2023-03-29 19:19:05,done,2023-03-29 19:20:02,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:03,None
7,8,iris,5,1,poly,0.3,3,0.1,2023-03-29 19:19:05,done,2023-03-29 19:19:58,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:59,None
8,9,iris,5,1,poly,0.3,4,0,2023-03-29 19:19:05,done,2023-03-29 19:20:09,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:13,None
9,10,iris,5,1,poly,0.3,4,0.1,2023-03-29 19:19:05,done,2023-03-29 19:19:57,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:58,None
10,11,iris,5,1,linear,nan,nan,nan,2023-03-29 19:19:05,done,2023-03-29 19:20:25,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:25,None
11,12,iris,5,2,rbf,0.1,nan,nan,2023-03-29 19:19:05,done,2023-03-29 19:19:10,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:11,None
12,13,iris,5,2,rbf,0.3,nan,nan,2023-03-29 19:19:05,done,2023-03-29 19:19:54,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:55,None
13,14,iris,5,2,poly,0.1,3,0,2023-03-29 19:19:05,done,2023-03-29 19:20:14,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:19,None
14,15,iris,5,2,poly,0.1,3,0.1,2023-03-29 19:19:05,done,2023-03-29 19:19:55,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:55,None
15,16,iris,5,2,poly,0.1,4,0,2023-03-29 19:19:05,done,2023-03-29 19:20:29,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:30,None
16,17,iris,5,2,poly,0.1,4,0.1,2023-03-29 19:19:05,done,2023-03-29 19:20:24,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:25,None
17,18,iris,5,2,poly,0.3,3,0,2023-03-29 19:19:05,done,2023-03-29 19:20:03,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:04,None
18,19,iris,5,2,poly,0.3,3,0.1,2023-03-29 19:19:05,done,2023-03-29 19:20:27,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:28,None
19,20,iris,5,2,poly,0.3,4,0,2023-03-29 19:19:05,done,2023-03-29 19:19:11,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:12,None
20,21,iris,5,2,poly,0.3,4,0.1,2023-03-29 19:19:05,done,2023-03-29 19:19:37,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:41,None
21,22,iris,5,2,linear,nan,nan,nan,2023-03-29 19:19:05,done,2023-03-29 19:19:48,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:49,None
22,23,iris,5,3,rbf,0.1,nan,nan,2023-03-29 19:19:05,done,2023-03-29 19:19:50,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:54,None
23,24,iris,5,3,rbf,0.3,nan,nan,2023-03-29 19:19:05,done,2023-03-29 19:19:13,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:17,None
24,25,iris,5,3,poly,0.1,3,0,2023-03-29 19:19:05,done,2023-03-29 19:20:19,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:23,None
25,26,iris,5,3,poly,0.1,3,0.1,2023-03-29 19:19:05,done,2023-03-29 19:19:45,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:46,None
26,27,iris,5,3,poly,0.1,4,0,2023-03-29 19:19:05,done,2023-03-29 19:19:55,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:56,None
27,28,iris,5,3,poly,0.1,4,0.1,2023-03-29 19:19:05,done,2023-03-29 19:20:23,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:24,None
28,29,iris,5,3,poly,0.3,3,0,2023-03-29 19:19:05,done,2023-03-29 19:19:46,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:47,None
29,30,iris,5,3,poly,0.3,3,0.1,2023-03-29 19:19:05,done,2023-03-29 19:19:06,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:09,None
30,31,iris,5,3,poly,0.3,4,0,2023-03-29 19:19:05,done,2023-03-29 19:19:30,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:34,None
31,32,iris,5,3,poly,0.3,4,0.1,2023-03-29 19:19:05,done,2023-03-29 19:19:19,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:20,None
32,33,iris,5,3,linear,nan,nan,nan,2023-03-29 19:19:05,done,2023-03-29 19:20:30,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:31,None
33,34,iris,5,4,rbf,0.1,nan,nan,2023-03-29 19:19:05,done,2023-03-29 19:19:34,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:36,None
34,35,iris,5,4,rbf,0.3,nan,nan,2023-03-29 19:19:05,done,2023-03-29 19:20:30,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:30,None
35,36,iris,5,4,poly,0.1,3,0,2023-03-29 19:19:05,done,2023-03-29 19:19:21,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:25,None
36,37,iris,5,4,poly,0.1,3,0.1,2023-03-29 19:19:05,done,2023-03-29 19:19:59,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:01,None
37,38,iris,5,4,poly,0.1,4,0,2023-03-29 19:19:05,done,2023-03-29 19:20:28,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:29,None
38,39,iris,5,4,poly,0.1,4,0.1,2023-03-29 19:19:05,done,2023-03-29 19:19:55,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:55,None
39,40,iris,5,4,poly,0.3,3,0,2023-03-29 19:19:05,done,2023-03-29 19:20:26,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:27,None
40,41,iris,5,4,poly,0.3,3,0.1,2023-03-29 19:19:05,done,2023-03-29 19:19:56,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:57,None
41,42,iris,5,4,poly,0.3,4,0,2023-03-29 19:19:05,done,2023-03-29 19:19:09,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:10,None
42,43,iris,5,4,poly,0.3,4,0.1,2023-03-29 19:19:05,done,2023-03-29 19:19:11,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:11,None
43,44,iris,5,4,linear,nan,nan,nan,2023-03-29 19:19:05,done,2023-03-29 19:19:47,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:48,None
44,45,iris,5,5,rbf,0.1,nan,nan,2023-03-29 19:19:05,done,2023-03-29 19:19:49,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:50,None
45,46,iris,5,5,rbf,0.3,nan,nan,2023-03-29 19:19:05,done,2023-03-29 19:19:41,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:41,None
46,47,iris,5,5,poly,0.1,3,0,2023-03-29 19:19:05,done,2023-03-29 19:19:12,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:12,None
47,48,iris,5,5,poly,0.1,3,0.1,2023-03-29 19:19:05,done,2023-03-29 19:20:13,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:14,None
48,49,iris,5,5,poly,0.1,4,0,2023-03-29 19:19:05,done,2023-03-29 19:19:20,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:21,None
49,50,iris,5,5,poly,0.1,4,0.1,2023-03-29 19:19:05,done,2023-03-29 19:19:26,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:30,None
50,51,iris,5,5,poly,0.3,3,0,2023-03-29 19:19:05,done,2023-03-29 19:20:05,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:09,None
51,52,iris,5,5,poly,0.3,3,0.1,2023-03-29 19:19:05,done,2023-03-29 19:20:19,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:19,None
52,53,iris,5,5,poly,0.3,4,0,2023-03-29 19:19:05,done,2023-03-29 19:20:04,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:20:05,None
53,54,iris,5,5,poly,0.3,4,0.1,2023-03-29 19:19:05,done,2023-03-29 19:19:36,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:37,None
54,55,iris,5,5,linear,nan,nan,nan,2023-03-29 19:19:05,done,2023-03-29 19:19:25,SVM_experimenter_01,vm-tornede3,0.975,0.975,0.966667,0.966667,2023-03-29 19:19:26,None